<div class="container">
  <h1 class="mt-4">My bookings</h1>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="font-weight-bold"><%= booking.item.name %></span>
            <br>
            <small class="text-muted">Booked from <%= booking.date_booked_start %> to <%= booking.date_booked_end %></small>
          </div>
          <div>
            <%= link_to edit_booking_path(booking), class: "btn btn-primary btn-sm mr-2" do %>
              <i class="fas fa-edit"></i> Edit
            <% end %>
            <%= link_to delete_booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" }, class: "btn btn-primary btn-sm mr-2", remote: true do %>
              <i class="fas fa-times"></i> Cancel
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
