<div class="navbar navbar-expand-sm navbar-light navbar-airdiy">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <!-- Logo -->
      <%= link_to "/", class: "navbar-brand mr-2" do %>
        <%= image_tag "Logo.png" %>
      <% end %>

      <!-- Website Name -->
      <span class="website-name ml-2">Dogbnb</span>
    </div>

<%= form_tag(items_path, method: :get, class: "d-flex mx-auto") do %>
  <div class="input-group">
    <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Where", aria_label: "Location" %>
    |<%= date_field_tag :check_in, params[:check_in], class: "form-control", aria_label: "Check In" %>
    |<%= date_field_tag :check_out, params[:check_out], class: "form-control", aria_label: "Check Out" %>
    |<%= number_field_tag :guests, params[:guests], class: "form-control", placeholder: "Guests", aria_label: "Guests" %>
    <button class="btn" type="submit">
      <i class="fa-solid fa-search"></i>
    </button>
  </div>
<% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "/items/new", class: "nav-link" do %>
              <i class="fas fa-plus-circle"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Messages", "#", class: "dropdown-item" %></li>
              <li><%= link_to "My bookings", bookings_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
