<div class="container">
  <h1>Edit Your Listing</h1>
   <%= simple_form_for(@item, html: { class: "row g-3" }) do |f| %>
    <div class="col-md-6">
      <%= f.input :name, label: "Item Name", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :price, label: "Price", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-12">
      <%= f.input :description, label: "Description", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-12">
      <%= f.input :location, label: "Location", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :max_guests, label: "Max. Guests", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :category, collection: ["Big Dog", "Medium Dog", "Small Dog", "Multiple Dogs", "Woodland",
        "Beachfront", "City", "Home-from-home"], prompt: "Select a category" %>
    </div>
    <div class="col-md-6">
      <%= f.input :date_available_from, label: "Available Date", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :date_available_until, label: "Available Until", input_html: { class: "form-control" } %>
    </div>

    <div>
      <% if @item.photos.attached? %>
        <% @item.photos.each do |ph| %>
          <%= f.hidden_field :photos, multiple: true, value: ph.signed_id %>
        <% end %>
      <% end %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
        <%= link_to "Back to Item", item_path(@item), class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
