<h1>here should be all items</h1>

<% @items.each do |item| %>
  <h3><%= link_to item.name, item_path(item) %></h3>
  <p><%= item.price %> || <%= item.location %>
  <% if item.photos.present? %>
    <% item.photos.each do |photo| %>
      <%= cl_image_tag item.photo.key, height: 100, width: 100, crop: :fill %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Back to home page", root_path %>
<%= link_to "List a new item for rent", new_item_path %>
