<h1>this should show one single lonely item</h1>

<h2><%= @item.name %></h2>

<% @item.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
<% end %>

<h3>Price per day: £<%= @item.price %> || Location: <%= @item.location %> || Available from: <%= @item.date_available %></h3>
<p><%= @item.description %></p>

<%= link_to "Back to all items", items_path %>
<%= link_to "Back to home", root_path %>
<%= link_to "Edit this listing", edit_item_path %>
<%= link_to "Delete this listing", item_path(@item),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" } %>
