<h1>Reviews for <%=item.name %></h1>

<% @reviews.each do |review| %>
  <div>
  <h3><%= review.title %></h3>
  <p><%= review.body %><p>
  </div>
  <% end %>

<%= form_tag(filter_by_price_items_path, method: :get, remote: true) do %>
<%= label_tag :min_price, "Minimum Price" %>
<%= number_field_tag :min_price %>

<%= label_tag :max_price, "Maxium Price"%>
<%=  number_field_tag :max_price %>
<%= submit_tag 'price' %>
<% end %>
<%= form_tag(filter_by_price_items_path, method: :get, remote: true) do %>
