<h1>Reviews for <%=item.name %></h1>

<% @reviews.each do |review| %>
  <div>
  <h3><%= review.title %></h3>
  <p><%= review.body %><p>
  </div>
  <% end %>


<%= form_tag(items_path, method: "get) do </%>
<label  for= "min_price"> Minimum Price:</label>
<%= number_field_tag  :min_price, params[:max_price] %>

<label  for= "max_price"> Maximum Price:</label>
<%= number_field_tag :max_price, params[:max_price]%

<%= submt_tag "Filter" %>
<% end%>
